/* CSS for DCR Players Portal */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
  --colorBlack: #0D0D0D;
  --colorWhite: #F2F2F2;
  --colorTealA: rgb(31, 191, 175);
  --colorTealB: rgb(82, 209, 222);
  --colorTealC: #0C5952;
  --colorTealD: rgb(82, 209, 220);
  --colorGrey: rgb(57, 62, 65);
  
}

body {
  background: var(--colorGrey);
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  color: var(--colorBlack);
}


.dcr-text {
  position: relative;
  display: grid;
  place-items: center;
}

.dc-icon {
  padding: 1rem;
  margin: auto;
}
.dc-icon svg {
fill: var(--colorTealA);
}

h1.dcr {
  font-size: 4rem;
  font-weight: 700;
}

h2.dcr {
  font-size: 3.5em;
   font-weight: 300;
}
h3.dcr {
  font-size: 2.75rem;
  font-weight: 700;
}
h4.dcr {
font-size: 2.5rem;
  font-weight: 300;
}
h5.dcr {
  font-size: 2rem;
  font-weight: 700;
}
h6.dcr {
  font-size: 1rem;
  font-weight: 800;
}

p.dcr {
  font-size: 1rem;
}

a.dcr { 
text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  color: var(--colorWhite);
  transition: all 120ms ease-in-out;
}
a.dcr:active, a.dcr:hover {
  color: var(--colorTealA);
}
